:root {
  --color-background: #e7e7e7;
  --color-text: #646e82;
  --color-box_shadow-dark: #a5a5a5;
  --color-box_shadow-light: #ffffff;
  --color-card-title-h2: #333;
}
/*  reset code  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Application code */
body {
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s;
}
a,
.togglebtn {
  font-family: cursive;
  /* font-family: "Times New Roman", Times, serif; */
}
