.ring {
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  padding-bottom: 10px;
  margin-top: -20px;
  animation: ring 300ms infinite linear;
}
@keyframes ring {
  50% {
    transform: translateX(-5px);
  }
  0%,
  100% {
    transform: translateX(5px);
  }
}
