.wrapper {
  position: relative;
  margin: 40px auto;
  background: var(--color-background);
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: var(--color-text);
  border: 5px solid rgba(0, 0, 0, 0.5);
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 20;
  border-right: none;
  transform: rotate(0deg);
  /* animation: rota 5s linear; */
}

/* .wrapper:hover .spinner,
  .wrapper:hover .filler,
  .wrapper:hover .mask {
    animation-play-state: running;
  } */

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 1;
  z-index: 100;
  /* animation: opa 5s steps(1, end) reverse; */
  border-left: none;
}

.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 0;
  z-index: 300;
  /* animation: opa 5s steps(1, end); */
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
